name: Upload to Google Drive

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install rclone
      run: |
        curl https://rclone.org/install.sh | sudo bash

    - name: Write SA JSON
      run: |
        printf '%s' "${{ secrets.SA_JSON }}" > sa.json

    - name: Create rclone.conf
      run: |
        mkdir -p ~/.config/rclone
        cat <<EOF > ~/.config/rclone/rclone.conf
[gdrive_sa]
type = drive
scope = drive
service_account_file = /home/runner/sa.json
EOF

    - name: Test rclone
      run: |
        rclone ls gdrive_sa: || (cat ~/.config/rclone/rclone.conf && cat sa.json && exit 1)

    - name: Upload
      run: |
        rclone copy to_upload gdrive_sa:backups -P
