name: Rclone Upload

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create service account JSON file
        run: |
          echo "${{ secrets.GDRIVE_SA_JSON }}" > sa.json

      - name: Create rclone.conf
        run: |
          mkdir -p ~/.config/rclone
          cat <<EOF > ~/.config/rclone/rclone.conf
[gdrive_sa]
type = drive
scope = drive
service_account_file = /home/runner/sa.json
EOF

      - name: Test rclone configuration
        run: |
          rclone --config ~/.config/rclone/rclone.conf ls gdrive_sa: || \
          (echo "------ CONFIG FILE ------"; cat ~/.config/rclone/rclone.conf; exit 1)

      - name: Upload folder to Google Drive
        run: |
          rclone --config ~/.config/rclone/rclone.conf copy to_upload gdrive_sa:backups -v