name: Upload to Google Drive

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install rclone
      run: sudo apt-get install -y rclone

    - name: Create rclone.conf using SA JSON
      run: |
        mkdir -p ~/.config/rclone/
        echo "[gdrive_sa]" > ~/.config/rclone/rclone.conf
        echo "type = drive" >> ~/.config/rclone/rclone.conf
        echo "scope = drive" >> ~/.config/rclone/rclone.conf
        echo "service_account_credentials = ${GDRIVE_SA_JSON}" >> ~/.config/rclone/rclone.conf
        echo "root_folder_id =" >> ~/.config/rclone/rclone.conf
      env:
        GDRIVE_SA_JSON: ${{ secrets.GDRIVE_SA_JSON }}

    - name: Test rclone remote
      run: rclone ls gdrive_sa: || (cat ~/.config/rclone/rclone.conf && exit 1)

    - name: Upload folder to Google Drive
      run: rclone copy to_upload gdrive_sa:backups --progress
